{% extends 'votes/layout.html' %}

{% block content_central %}
    <p>
        Votre identifiant unique et anonyme est le <strong>{{ vote.id }}</strong>.
    </p>
    <p>
        Vous pouvez le noter si vous le souhaitez. Il n'est pas associé à votre nom ou votre numéro de téléphone,
        et vous êtes la seule personne à savoir qu'il vous appartient.Il est par contre associé au vote que vous
        avez effectué. Ainsi, lors de la publication des résultats, tous les identifiants ainsi
        que les votes liés seront publiés, permettant à tout le monde de vérifier la sincérité du vote.
    </p>
{% endblock %}