{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Votation citoyenne sur le nucléaire</title>
    <link rel="stylesheet" type="text/css" href="{% static "votes/styles/main.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <header>
        <nav class="nav-primary navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#main-navbar-collapse" aria-expanded="false">
                        Menu <span class="caret"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar-collapse">
                    <div id="menu-export">
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}
        <main class="container marginbottommore">
            <div class="row">
                <div class="col-responsive">
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {% if message.closing_link %}
                                        <button type="button" class="close close-message" aria-label="Fermer"
                                                data-closing-link="{{ message.closing_link }}">
                                            <span aria-hidden="true">&times;</span></button>
                                    {% endif %}
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        <script>
                            document.querySelectorAll('.messages button.close-message').forEach(function(elem) {
                              elem.addEventListener('click', function (e) {
                                var r = new XMLHttpRequest();
                                r.open('GET', e.currentTarget.dataset.closingLink, true);
                                r.send();
                                e.currentTarget.parentNode.remove();
                              });
                            });
                        </script>
                    {% endif %}
                    {% block content_central %}{% endblock %}
                </div>
            </div>
        </main>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://lafranceinsoumise.github.io/theme/dist/components.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96787636-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-96787636-6');
    </script>

</body>
</html>
