{% extends 'votes/layout.html' %}
{% load crispy_forms_tags %}
{% load webpack_loader %}

{% block content_central %}
    <div>
        <p>Vous allez recevoir un SMS sur le numéro que vous avez indiqué. Ce SMS comprend un code à 8 chiffres qui
        nous permet de vérifier la bonne réception de ce message. Merci de nous l'indiquer ci-dessous.</p>
    </div>

    <div class="alert alert-info">
        <p>Ce SMS peut prendre quelques minutes à arriver. Si vous ne le recevez pas dans les 10
            minutes, vous pouvez en demander un autre via le bouton ci-dessous.</p>
        <form method="post" action="{% url "resend_sms" %}">
            {% csrf_token %}
            <button id='resend' type="submit" class="btn btn-warning" disabled>Je n'ai pas reçu le SMS</button>
        </form>
        <script>
            let i = 60;
            const button = document.getElementById('resend');
            const text = button.innerText;
            update();
            const interval = setInterval(update, 1000);

            function update() {
              if (i > 0) {
                button.innerText = text + ' (' + i-- + ')';
              } else {
                button.innerText = text;
                button.disabled = false;
                clearInterval(interval);
              }
            }
        </script>

    </div>
    {% crispy form %}
    {% render_bundle "formUtils" %}
{% endblock %}
