{% extends 'votes/layout.html' %}
{% load crispy_forms_tags %}

{% block content_central %}
    <h3>Êtes vous favorable à la sortie du nucléaire&nbsp;?</h3>
    <p class="lead">
        Il s’agit du nucléaire civil et militaire : l’arrêt de tous les réacteurs nucléaires dans les meilleurs
        délais possibles, par le développement des énergies renouvelables, les économies d’énergie, et l’efficacité
        énergétique, et la participation active de la France à la lutte contre la dissémination nucléaire pour l’abolition
        des armes nucléaires au niveau mondial.
    </p>
    {% crispy form %}
{% endblock %}
