[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

django = "*"
ovh = "*"
ipython = "*"
django-phonenumber-field = "*"
django-crispy-forms = "*"
"progressbar2" = "*"
"psycopg2" = "*"
django-debug-toolbar = "*"
django-webpack-loader = "*"
redis = "*"
hiredis = "*"
phonenumbers = "*"
uwsgi = "*"
systemd = "*"
prometheus-client = "*"
tqdm = "*"
imapclient = "*"
dj-email-url = "*"
requests = "*"
"html2text" = "*"


[dev-packages]

redislite = "*"
"beautifulsoup4" = "*"
