{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content_central %}
    {% if person %}
        <p>
            Bonjour {{ person.first_names }} {{ person.last_name }}. Pour que vous puissiez voter, nous devons
            auparavant valider votre numéro de téléphone portable.
            Si vous n'êtes pas {{ person.first_names }} {{ person.last_name }}, merci de
            <a href="{%  url 'clean_session' %}">cliquer ici</a>.
        </p>
    {% else %}
        <div class="alert alert-warning">
            <p>
                Vous votez par la procédure &laquo;&nbsp;Non-inscrit⋅e&nbsp;&raquo;, soit parce que
                vous n'êtes effectivement pas inscrit⋅e sur les listes électorales, soit parce que nous ne disposons
                pas des listes électorales de  votre département. Les résultats de cette procédure seront décomptés
                séparément.
            </p>
            <p>
                <a href="{% url 'validate_list' %}">Retourner à la procédure normale</a>
            </p>
        </div>
    {% endif %}
    {% crispy form %}
{% endblock %}
