{% extends 'layout.html' %}

{% block content %}
    <header class="container text-center">
        <h1>Sortir du nucléaire</h1>
        <p class="lead">
            Êtes vous faborable à la sortie du nucléaire&nbsp;? Reste de la question lorem ipsum
            sic amet etc.
        </p>
        <p class="lead"><strong>La votation se déroule du 11 au 18 mars.</strong></p>
    </header>
    <hr>
    <main class="container">
        <p><em>
            Lorem ipsum dolor amet photo booth fugiat poke kickstarter jean shorts shaman beard forage. Authentic meh polaroid, nostrud palo santo blog cray non. Chillwave tilde locavore brunch fanny pack keytar readymade kickstarter forage franzen irure twee yr sartorial vape.
        </em></p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vCq_LZOIlRs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h3 class="text-center">VOTER</h3>
        <a href="#" class="btn btn-primary btn-lg btn-block marginbottommore" style="white-space: normal;">Je suis inscrit⋅e sur les listes électorales</a>
        <a href="{% url 'validate_phone_number' %}" class="btn btn-primary btn-lg btn-block" style="white-space: normal;">Je ne suis pas inscrit⋅e sur les listes électorales</a>
    </main>
{% endblock %}