{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{%  static "votes/styles/main.css" %}">
</head>
<body>
    <header>
        <nav class="nav-primary navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#main-navbar-collapse" aria-expanded="false">
                        Menu <span class="caret"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar-collapse">
                    <div id="menu-export"></div>
                    <script>
                    (function() {
                        /** SETTINGS **/
                        var themeLocation = 'primary_navigation';
                        var addBootstrapCSS = true;
                        var menu_class = 'nav%20navbar-nav%20navbar-right';
                        var container = '';

                        var r = new XMLHttpRequest();
                        r.open('GET', 'https://nucleaire.vote/?menu_export=1&theme_location='+themeLocation+
                        '&menu_class='+menu_class+'&container='+container+
                        (addBootstrapCSS?'&bootstrap=1':''),true);
                        r.onreadystatechange=function(){if(r.readyState!=4||r.status!=200)return;
                        document.getElementById('menu-export').innerHTML = r.responseText;};
                        r.send();
                    })();
                    </script>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}
        <main class="container">
            <div class="row">
                <div class="col-responsive">
                    {% block content_central %}{% endblock %}
                </div>
            </div>
        </main>
    {% endblock %}
    <footer class="container padtopmore text-center margintopmore" style="background-color:#f5f5f5;">
        Footer avec infos, conclusion, illustration...
    </footer>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://lafranceinsoumise.github.io/theme/dist/components.js"></script>
</body>
</html>