{% extends 'layout.html' %}

{% load render_bundle from webpack_loader %}

{% block content %}
    <main class="container">
        {% for object in object_list %}
            <p>
                {{ object.get_civilite_display }}
                {{ object.last_name }}
                {{ object.use_last_name }}
                {{ object.first_names }} ({{ object.get_commune_display }})
                {% if object.birth_date or object.birth_city_name %}né⋅e le{% endif %}
                {% if object.birth_date %}
                     {{ object.birth_date }}
                {% endif %}
                {% if object.birth_city_name %}
                    à {{ object.birth_city_name }}
                {% endif %}
            </p>

        {% endfor %}
    </main>
    <div id="root">

    </div>


    {% render_bundle 'listSearch' %}
{% endblock %}
