{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <main class="container">
        {% if person %}
            <p>
                Bonjour {{ person.first_names }} {{ person.last_name }}. Pour que vous puissiez voter, nous devons
                auparavant valider votre numéro de téléphone.
                Si vous n'êtes pas {{ person.first_names }} {{ person.last_name }}, merci de
                <a href="{%  url 'clean_session' %}">cliquer ici</a>.
            </p>
        {% endif %}
        {% crispy form %}
    </main>
{% endblock %}