{% extends 'votes/layout.html' %}
{% load crispy_forms_tags %}

{% block content_central %}
    <p>
        <a href="{% url 'list_bureaux' %}">&larr;&nbsp;Retour à la liste de mes bureaux</a>
    </p>
    <hr />
    <div class="alert alert-info">
        <p>
            Vous avez ouvert un nouveau bureau de vote&nbsp!
        </p>
        <p>
            Pour rappel, le scrutin est ouvert à toutes les personnes de plus de 16 ans, étrangères ou françaises,
            inscrites ou non sur les listes électorales. Les personnes inscrites doivent obligatoirement être
            recherchées sur les listes électorales sur la plateforme.
        </p>
        <p>
            Une personne doit se tenir près de l’urne et s’assurer que personne n’y glisse d’enveloppe sans être passée
            par la vérification sur les listes. Une ou plusieurs autres personnes ont en leur possession les bulletins
            et le ou les smartphones ou ordinateurs permettant de rechercher les personnes sur les listes électorales.
            Elles ne distribuent qu’un bulletin et une enveloppe par personne, uniquement après avoir effectué la
            vérification sur les listes.
        </p>
        <p class="text-right">
            <a class="btn btn-default" href="https://lafranceinsoumise.fr/app/uploads/2018/03/tenir_un_bureau_de_vote.pdf">Retrouvez le manuel
            complet de tenue de bureaux de vote.</a>
        </p>
    </div>

    <h3>{{ bureau.place }} <small>Bureau de vote</small></h3>
    <p>
        <a href="{% url 'vote_bureau' bureau.id %}">Accéder aux listes électorales.</a>
    </p>
    <p>
        Code de connexion pour les assesseur⋅e⋅s&nbsp;: <strong>{{ bureau.assistant_code }}</strong>.
    </p>
    <h4>Ouverture</h4>
    <p>
        {{ bureau.start_time }}
    </p>

    {% if not bureau.end_time %}
        <h4>Fermeture</h4>
        <p>
            Le bureau est actuellement ouvert. <a href="{% url 'close_bureau' bureau.id %}">Fermer le bureau</a>
        </p>
    {% else %}
        <p>
            Heure de fermeture : {{ bureau.end_time }}
        </p>
        {% if not bureau.has_results %}
            <p>
                <a href="{%  url 'results_bureau' bureau.id %}">Remonter les résultats</a>
            </p>
        {% endif %}
    {% endif %}
    <hr />
    <p>
        <a href="{% url 'list_bureaux' %}">&larr;&nbsp;Retour à la liste de mes bureaux</a>
    </p>
{% endblock %}
