{% extends 'votes/layout.html' %}
{% load crispy_forms_tags %}

{% block content_central %}
    <p>
        <a href="{% url 'list_bureaux' %}">&larr;&nbsp;Retour à la liste de mes bureaux</a>
    </p>
    <hr />

    <h3>{{ bureau.place }} <small>Bureau de vote</small></h3>
    <p>
        <a href="{% url 'vote_bureau' bureau.id %}">Accéder aux listes électorales.</a>
    </p>
    <p>
        Code de connexion pour les assesseur⋅e⋅s&nbsp;: <strong>{{ bureau.assistant_code }}</strong>.
    </p>
    <h4>Ouverture</h4>
    <p>
        {{ bureau.start_time }}
    </p>

    {% if not bureau.end_time %}
        <h4>Fermeture</h4>
        <p>
            Le bureau est actuellement ouvert. <a href="{% url 'close_bureau' bureau.id %}">Fermer le bureau</a>
        </p>
    {% else %}
        <p>
            Heure de fermeture : {{ bureau.end_time }}
        </p>
        {% if not bureau.has_results %}
            <p>
                <a href="{%  url 'results_bureau' bureau.id %}">Remonter les résultats</a>
            </p>
        {% endif %}
    {% endif %}
    <hr />
    <p>
        <a href="{% url 'list_bureaux' %}">&larr;&nbsp;Retour à la liste de mes bureaux</a>
    </p>
{% endblock %}
