{% extends 'votes/layout.html' %}

{% block content_central %}
    <ul class="list-group">
        {% for bureau in bureaux %}
            <li class="list-group-item">
                <a href="{% url 'detail_bureau' bureau.id %}">{{ bureau.place }}</a>
                {% if not bureau.end_time %}
                    (Bureau ouvert le {{ bureau.start_time }})
                {% elif not bureau.has_results %}
                    (Bureau fermé le {{ bureau.end_time }}.
                    <a href="{% url 'results_bureau' bureau.id %}">Remonter les résultats</a>.)
                {% else %}
                    (Résultats remontés, merci !)
                {% endif %}
            </li>
        {% empty %}
            <li class="list-group-item">Vous n'avez pas encore ouvert de bureau.</li>
        {% endfor %}
        <li class="list-group-item">
            <a href="{% url 'open_bureau' %}">+ Ouvrir un nouveau bureau</a>
        </li>
    </ul>
{% endblock %}
