{% extends 'votes/layout.html' %}
{% load static %}

{% block content_central %}

<h1 xmlns:https="http://www.w3.org/1999/xhtml">Tenir un bureau de vote
  pour la votation {{ votation_name }}</h1>

<ol>
  <li>
    Avant les opérations de vote (pour les président⋅e⋅s de bureau)
    <ol>
      <li>Planifier vos bureaux de vote</li>
      <li>Assurez vous d’avoir le matériel nécessaire</li>
      <li>Soyez sûr d’avoir un accès à internet sur le stand</li>
    </ol>
  </li>
  <li>
    Tenir un bureau de vote
    <ol>
      <li>Pour les président⋅e⋅s</li>
      <li>Pour les assesseur⋅e⋅s</li>
      <li>Faire voter</li>
      <li>Fermer le bureau de vote et faire remonter les résultats</li>
    </ol>
  </li>
</ol>

<h3>Avant les opérations de vote (pour les président⋅e⋅s de bureau)</h3>

  <h5>Planifiez vos bureaux de vote</h5>

  <ul>
    <li>Enregistrez votre bureau de vote comme événement public sur la plateforme de la France insoumise, ou si vous n’êtes pas insoumis⋅e, à l’aide du formulaire transmis par le comité de pilotage de la campagne.
    <ul>
      <li>Seules les personnes ayant enregistré au moins un bureau recevront des codes d’accès à la plate-forme de votation leur permettant d’être président⋅e de bureaux et ouvrir ou de fermer des bureaux.</li>
      <li>Rien ne vous empêchera d’en organiser d’autres, même au dernier moment, mêmes s’ils n’ont pas été enregistré sur la plateforme de la FI. Une fois que vous aurez reçu vos identifiants, vous pourrez organiser autant de bureaux de vote que vous le souhaitez.</li>
    </ul>
    </li>
    <li>Prévoyez un planning : il faut qu’il y ait en permanence une ou deux personnes présentes sur le bureau de vote et disposant d’un smartphone. Le⋅e président⋅e, qui ouvre et ferme les bureaux, doit aussi être disponible (même si ça présence physique n’est pas nécessaire) pour permettre aux autres assesseur⋅e⋅s de se connecter à la plateforme nucleaire.vote.</li>
    <li>N’oubliez pas de prévoir un rendez-vous pour dépouiller immédiatement après la fermeture ! Plus nombreu⋅sex vous serez, plus ce sera rapide. N’hésitez pas à inviter les personnes votant tout au long de la journée à participer au dépouillement.</li>
  </ul>

  <h5>Assurez vous d’avoir le matériel nécessaire</h5>
  <ul>
  <li>des bulletins, des enveloppes, une table et une urne par bureau de vote</li>
  <li>un ordinateur, une tablette ou un smartphone par assesseur⋅e. Ce sera plus rapide avec des ordinateurs ou des tablettes, mais quand même possible avec le téléphone.</li>
  <li>de quoi recharger les équipements électroniques : soit en accédant à une prise électrique, soit à l’aide de chargeurs portables pour les téléphones et les tablettes.</li>
  </ul>

  <h5>Soyez sûr d’avoir un accès à internet sur le stand</h5>
  <p>Une connexion à internet sera nécessaire sur le point de vote pour vous permettre de vérifier l’inscription sur les listes électorales des votants. La votation possède sa propre plateforme nucleaire.vote, indépendante de la plateforme de la FI.</p>
  <p>La plateforme fonctionne sur smartphone. Cependant, si vous préférez utiliser des ordinateurs et avez besoin d’une connexion Wifi pour ces ordinateurs, le plus simple est d’utiliser la fonctionnalité “Partager la connexion” de votre téléphone.</p>

  <h6>Partager la connexion sur un iPhone</h6>
  <p>Suivez les <a href="https://support.apple.com/fr-fr/HT204023">explications données par Apple</a>.

  <h6>Partager la connexion sur un smartphone Android</h6>
  <p>Vous trouverez les informations nécessaires <a href="http://www.frandroid.com/comment-faire/tutoriaux/345546_tuto-comment-partager-la-connexion-de-son-mobile-avec-un-autre-appareil">dans cet article</a>.</p>

  <h3>Tenir un bureau de vote</h3>
  <h5>Les président⋅es</h5>

  <p>Toute personne qui reçoit un lien d’accès par email peut présider un bureau de vote. Elle est responsable de l’ouverture, de la fermeture et de remonter des résultats du bureau.</p>

  <p>Attention : vous ne devez partager ce lien d’accès avec personne, puisqu’il permet d’ouvrir un bureau à votre nom. Vous disposerez d’un autre moyen pour ajouter les assesseur⋅e⋅s qui vous assisteront.</p>

  <p>Attention : il ne peut y avoir qu’un⋅e président⋅e par bureau. Si vous êtes plusieurs personnes sur un même bureau à avoir reçu un lien pour être président⋅e, désignez l’un⋅e d’entre vous et n’ouvrez qu’une fois le bureau. Dans le cas d’un bureau présent plusieurs jours d’affilée, vous pouvez cependant changer de président⋅e d’un jour sur l’autre, puisque vous le fermez et le rouvrez chaque jour.</p>

  <p>À chaque fois qu’une urne est installée, le⋅a président⋅e doit effectuer l’ouverture et la fermeture du bureau de vote sur la plateforme. Les résultats doivent être dépouillés et remontés le jour-même. Par conséquent, même si un bureau de vote se situe au même endroit plusieurs jours de suite, le bureau doit être ouvert et fermé chaque jour.</p>

<img style="border:1px solid grey" src="{% static 'bureaux/screenshots/bureaux.png' %}" alt="Écran de gestion des bureaux de vote"/>
  <p><em>Écran de gestion des bureau de vote</em></p>

  <img style="border:1px solid grey" src="{% static 'bureaux/screenshots/create_bureaux.png' %}" alt="Écran de création du bureau">
  <p><em>Écran de création du bureau de vote</em></p>

  <img style="border:1px solid grey" src="{% static 'bureaux/screenshots/gestion_bureaux.png' %}" alt="Écran de gestion d'un bureau de vote">
  <p><em>Écran de gestion d’un bureau de vote</em></p>

  <p>Une fois le bureau de vote ouvert, la votation peut commencer. Le président peut désigner autant d’assesseur⋅e qu’il ou elle le souhaite, et peut être assesseur⋅e soi-même.</p>

  <h5>Les assesseur⋅e⋅s</h5>

  <p>Pour permettre aux assesseur⋅e⋅s d’accéder aux listes électorales le⋅a président⋅a leur fournit un “code de connexion” qui se trouve sur l’écran de gestion du bureau de vote.</p>

  <p>Les assesseurs peuvent alors utiliser ce code sur la page <a href="https://{{ app_domain }}">{{ app_domain }}</a>.

  <p>Le ou la présidente peut elle-même accéder aux listes électorales en cliquant sur le lien prévu à cette effet dans la page du bureau de vote.</p>

  <h5>Faire voter</h5>
  <p>Pour faire voter, vous devez accéder aux listes électorales sur le site {{ app_domain }} comme expliqué ci-dessus. Pour cela, le bureau de vote doit avoir été ouvert sur le site {{ app_url }} par le ou la présidente.</p>

  <p>Pour rappel, le scrutin est ouvert à toutes les personnes de plus de 16 ans, étrangères ou françaises, inscrites ou non sur les listes électorales. Les personnes inscrites doivent obligatoirement être recherchées sur la plateforme.</p>

  <p>Une personne doit se tenir près de l’urne et s’assurer que personne n’y glisse d’enveloppe sans être passée par la vérification sur les listes.</p>

  <p>Une ou plusieurs autres personnes ont en leur possession les bulletins et le ou les smartphones ou ordinateurs permettant de rechercher les personnes sur les listes électorales. Elles ne distribuent qu’un bulletin et une enveloppe par personne, uniquement après avoir effectué la vérification sur les listes.</p>

Lorsqu’une personne se présente à elles, voici la démarche à suivre :
<ul>
  <li>demander à la personne si elle est inscrite sur les liste électorales
    <ul>
    <li>elle répond non : proposez lui de voter avec un bulletin orange</li>
    </ul>
  </li>
  <li>elle répond oui : demandez lui son département et sa commune d’inscription
    <ul>
      <li>elle ne les connaît pas : proposez lui de voter avec un bulletin orange</li>
    </ul>
  </li>
  <li>entrez le numéro de ce département sur la plateforme. Si cela vous est demandé, entrez aussi le nom de sa commune.
    <ul>
      <li>à tout moment la plateforme peut vous indiquer que la personne ne peut pas être trouvée sur les listes, et vous demander de prendre un bulletin orange. Si c’est le cas, respectez cette consigne.</li>
    </ul>
  </li>
  <li>une fois la commune et le département entrés, demandez lui une pièce d’identité (ce peut être n’importe quelle carte avec photo, carte d’identité mais aussi par exemple une carte vitale ou une carte étudiante)</li>
  <li>inscrivez le prénom et le nom de la personne dans le formulaire prévu à cet effet, afin de trouver la personne dans les listes électorales</li>
  <li>cliquez sur le nom de la personne, et validez lors de la demande de la confirmation : la personne est marquée sur les listes comme ayant voté, vous pouvez lui tendre un bulletin vert et accueillir la personne suivante</li>
</ul>

  <img style="border:1px solid grey" src="{% static 'bureaux/screenshots/liste.png' %}" />
  <p><em>Écran de recherche sur les listes électorales</em></p>


<h5>Fermer le bureau de vote et remonter les résultats</h5>

  <p>Lorsque vous rangez le matériel du bureau de vote à la fin de la journée, le ou la présidente doit immédiatement fermer le bureau de vote.</p>

  <p>Le dépouillement doit être organisé dans la foulée, le plus publiquement possible. Le ou la présidente dispose sur sa page de gestion d’un formulaire de remontée.</p>


{% endblock %}
